/* ROOT */
/* the base property that is applied to all the properties, this is later updated as it gets cascaded */
:root {
    background-color: #000;
    font-family: Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.60);

     ::selection {
        color: #000;
        background-color: #BACC9E;
        }

    .italic{
        font-style: italic;
    }

    mark{
        color: #000;
        background-color: white;
    }
    
}


h2{
    font-size: 2rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.80);
    margin-block-end: 1.5rem;

    
}


/* NAVINGATION */

nav{
    padding-inline: 5%;
    border-block-end: rgb(255, 255, 255, 0.50) 0.06rem solid;
    background-color: #000;
    position: fixed;
    inset-block-start: 0;
    inline-size: 100%;
    z-index: 3;

    a{
        padding: 0.2rem;
        border-inline-end: rgb(255, 255, 255, 0.50) 0.06rem solid;
        display: inline-block;
        inline-size: 33%;
        text-align: center;
    }

    a:last-child{
        border-inline-end:none;

    }

    a:hover{
        color: #BACC9E;
    }

    a:first-child::after{
        content: "↗";
        margin-inline-start: 0.2rem;
    }
}

/* ARTICLE */

article{
    padding-inline: 18%;
    padding-block: 7rem;
    margin-block: 4rem;
    inline-size: 100%;

    p{
        font-size: 1.25rem;
        line-height: 158%;
        letter-spacing: 0.05em;
        margin-block-end: 3rem;
    }
    
    p:last-child{
        margin-block-end: 0;
    }
}


/* Neomania Section in ATF*/

h1{
    font-family: "Jaini Purva", "Kokila", system-ui, s;
    color: white;
    font-weight: 400;
    font-size: 20rem;
    line-height: 100%;
    letter-spacing: 0em;
    display: block;
    text-align: center;
    position: relative;

   
}


h1::before, h1::after{

    /* positioning and content */
    content: "Neomania";
    position: absolute;
    inset-block-end: 30%;
    font-size: 21rem;
    inset-inline-start: 0%;
    margin-inline-start: -2.5rem;
    

    /* used webkit add the stroke and gradient */
    
	-webkit-text-stroke-width: 0.05rem;

	-webkit-text-stroke-color: transparent;
	color: black; /*tried doing transparent but did not work */
	
    /* gradient */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
	
	-webkit-background-clip: text;

    z-index: -1; /*to bring text to the back*/
}

h1::after{
    inset-block-end: 60%;
    z-index: -2;
    font-size: 22rem;
    margin-inline-start: -5rem;
}

/* to better position the elements at the back because they were aligning to the start of h1 and was not at center */
.heading{
    padding-block-start: 12%;
}



/* HEADER */
/* The entire hero section */

header{
    border-block-end: rgb(255, 255, 255, 0.50) 0.06rem solid;  /*line for the atf */
    block-size: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;


    section{
        display: block;
        align-items: left;
        overflow: visible;
    }
    
    p{
        color: #BACC9E;
        font-size: 2rem;
        font-weight: 600;
        display: inline-block;
        z-index: 2;
    }
}


/* SCROLLING */
/* scrolling to reading */

/* To get to the starting of article  */
.read_about_it{
    border: rgb(255, 255, 255, 0.50) 0.06rem solid;
    padding-block: 1rem;
    padding-inline: 1rem;
    color: white;
    border-radius: 2rem;
    display: inline-block;
}

.read_about_it:hover{
    background-color: #BACC9E;
    color: black;
    font-weight: 500;
}

/* comeback link at the bottom of the page. This also scrolls you back to the top. */

.back_to_top{
    font-family: "Jaini Purva", system-ui;
    font-size: 2.5rem;
} 


.back_to_top:hover{
    text-decoration: underline;
}


/* READING */
/* The part that I chose to read and include in the website. */
.reading{

    h2{
        font-family:"Squada One";
        font-size: 4.5rem;
        color: white;
    }

    /* links */
    a{
        text-decoration: underline;
        text-underline-offset: 0.15rem;
    }

    a:hover{
        background-color: #BACC9E;
        color: black;
    }

    /* itallic */
    em{
       font-style: italic;
    }

    /* for highlighting  */
    mark{
    background-color: #BACC9E;
    color: #000;

    }

    /* The quote inside of the reading. */
    blockquote{
        font-family:"Squada One";
        color: rgba(255, 255, 255, 0.818);
        inline-size: 40rem;
        margin-block-end: 0.5rem;
        padding-inline-start: 1.5rem; /*because we moved the “ out we need to move the entire text a bit in */
        position: relative;

        
        p{
        line-height: 1.2em;
        }

        /* To add the “ infront of the quote because the quote was wrapping around it if not done. */
        ::before{
            content: "“";
            position: absolute;
            inset-inline-start:-0.02rem ;
        }
    }

    .quote_cite{
     padding-inline-start: 1.6rem; /*Moving the author name also a bit for alignment*/
    }


}



/* BLOCKQUOTE: the quote in the middle of the texts */

blockquote p{
    font-size: 2.5rem;

    font-weight: 300;
    /* the quote got its line height from the p above so no need to give it here */

}



/* AUTHOR QUOTE & MY QUOTE: 
the giant quote in the middle of the page and end of the page. 
This is the one which we want the quote arks and the main text+author to be layed one after another */

.author_quote, .my_quote{
    background-color: #BACC9E;
    padding-inline: 5%;
    padding-block-start: 4%;
    padding-block-end: 6%;
    text-align: center;
    align-items: center;
    
    blockquote, p{
        color: #000;
        font-family: "Jaini Purva";
        font-size: 6rem;
        font-weight: 400;
        line-height: 1.6cap;
        inset-inline-start: 0rem;
    }

    blockquote{
        margin-block-end: 2rem;
    }

    p{
        font-family: Helvetica;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        /* line-height: 48px;  */
    }

}

.author_quote{
    background-color: #000;
    border-block-start: rgb(255, 255, 255, 0.50) 0.06rem solid;
    
    section::before, blockquote, p{
        color: white;
    }

}

.my_quote{
    padding-block:8%;


    blockquote, p{
        color: #000;
        /* font-family: "Jaini Purva"; */
        font-family: "Spline Sans Mono";
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.6cap;
        inset-inline-start: 0rem;
    }


    blockquote{
        margin-block-end: 0rem;
        max-inline-size: 40rem;
        text-align: left;
    }

    ::selection{
       color: #000;
        background-color: white; 
    }
}

/* MY THOUGHTS */
/* My replies and thoughts on what the author has said. This has a different layout and color from above reading.*/

.my_thoughts{
    background: linear-gradient(180deg, #BACC9E -49.04%, #000 102.08%);
    color: white;
    margin-block: 0;
    padding-block: 12rem;
    font-family: "Spline Sans Mono";
    position: relative;
    
    
    h2{
        color: white;
        position: sticky;
        top: 6rem;
        margin-block-end: 0;
        text-decoration: underline 0.2rem; 
        text-underline-offset: 1rem;
    }
  
    section{
        padding-inline-start: 16rem;

    }
    
    .my_thoughts_first_paragraph{
        margin-block-start: -3rem;
    }
    
    p{
        font-size: 1.05rem;
        font-weight: 400;
    }

    h2::selection, p::selection {
    color: #000;
    background-color: white;
    }
    

    .inbetween_quote{
        background-color: #bacc9e53;
        padding: 1rem;
        padding-inline-start: 2rem;
        border-inline-start: white 0.1rem solid;
        margin-block-end: 3rem;
        border-radius: 0rem 1rem 1rem 0rem;
        font-size: 2rem;

        blockquote{
            margin-block-end: 1rem;
        }
    }


}


/* FOOTER */

footer{
        inline-size: 100%;

    a{
        padding: 1.5rem;
        border-inline-end: rgb(255, 255, 255, 0.50) 0.06rem solid;
        display: inline-block;
        inline-size: 33%;
        text-align: center;
    }

    a:last-child{
        border-inline-end:none;

    }

    a::after{
        content: "↗";
    }

    a:hover{
        background: #BACC9E;
        color: #000;
        font-weight: 550;
    }
}


/* THE END */
